LIST

In [5]:
myList = ["data","a","task","course",89,6.09,True]
print(myList[3])
print(myList)
print(type(myList))

course
['data', 'a', 'task', 'course', 89, 6.09, True]
<class 'list'>

In [10]:
myList = ["data","a","task","course",89,6.09,True]
for i in range(0,len(myList)):
  print(myList[i])

data
a
task
course
89
6.09
True

SET

In [16]:
myset={"data","task",12,23.6,False,"hello"}
print(myset)
print(type(myset))

{False, 'hello', 'data', 12, 'task', 23.6}
<class 'set'>

DICTIONARY

In [17]:
mydic={"username":"admin",
       "password":"pass",
       "batch":2023
       }
print(mydic)
print(mydic["username"])

{'username': 'admin', 'password': 'pass', 'batch': 2023}
admin

In [19]:
mydict={"username":"admin",
       "password":"pass",
       "batch":2023,"dict":{"uid":12,"name":"sweta","date":"17NOV2002"},"mine":"aditya"}
for key, value in mydict.items():
  if type(value) == dict:
    for nested_key, nested_value in value.items():
      print(f"{nested_key}:{nested_value}")
  else:
    print(f" (key): {value}")

 (key): admin
 (key): pass
 (key): 2023
uid:12
name:sweta
date:17NOV2002
 (key): aditya

TUPLE

In [24]:
tup=("sweta","chavan",17112002)
print(tup)

chavan

In [26]:
tup=("sweta","chavan",17112002)
print(tup[1])

chavan