In [ ]:
#Vriable -> data container(where exactly you are storing your values)
num=10

In [ ]:
print(num);
print(type(num));

10
<class 'int'>

In [ ]:
#string -> set of characters
strn ='introduction';
print(strn);
print(type(strn));

introduction
<class 'str'>

In [ ]:
#boolean -> true or false
print(7>5);

True

In [ ]:
#concatination -> combining the datas
num1=9;
num2=9.7;
print(num1+num2);
n1='hello';
n2='world';
print(n1+n2);
print(n1 ,n2);

18.7
helloworld
hello world

class 2

In [ ]:
#collective data types -> list, set, tuple, dictionary
myList = ["data","a","task","course",89,6.09,True]
print(myList[3])
print(myList)
print(type(myList))

#update
myList[-2]=47;

#append(add)
myList.append("green");
print(myList)

#insert
myList.insert(-3,"insert");
print(myList)

#add two list
list1=[1,23,456]
list1.extend(myList)
print(list1)

#remove
myList.remove(89)
print(myList)

#delete
del myList[-5]
print(myList)

course
['data', 'a', 'task', 'course', 89, 6.09, True]
<class 'list'>
['data', 'a', 'task', 'course', 89, 47, True, 'green']
['data', 'a', 'task', 'course', 89, 'insert', 47, True, 'green']
[1, 23, 456, 'data', 'a', 'task', 'course', 89, 'insert', 47, True, 'green']
['data', 'a', 'task', 'course', 'insert', 47, True, 'green']
['data', 'a', 'task', 'insert', 47, True, 'green']

In [ ]:
#tuple -> ordered collection of datatype,(),immutable
tup=("del","doll",98,9.7,False)
print(len(tup))

5

In [ ]:
#dictionary -> {keys:values}
mydic={"username":"admin",
       "password":"pass",
       "batch":2023
       }
print(mydic)
print(mydic["username"])

#update
mydic["username"]="admin123"
print(mydic)

mydic["username"]=("admin","admin123")
print(mydic)

#append
mydic["course"]=977
print(mydic)

l1=[1,2,3,4]
mydic["password"]=l1
print(mydic)

#pop
mydic.pop("username")
print(mydic)


#update key
new=mydic["course"]
del mydic["course"]
mydic["learning"]=new
print(mydic)

#delete
del mydic

{'username': 'admin', 'password': 'pass', 'batch': 2023}
admin
{'username': 'admin123', 'password': 'pass', 'batch': 2023}
{'username': ('admin', 'admin123'), 'password': 'pass', 'batch': 2023}
{'username': ('admin', 'admin123'), 'password': 'pass', 'batch': 2023, 'course': 977}
{'username': ('admin', 'admin123'), 'password': [1, 2, 3, 4], 'batch': 2023, 'course': 977}
{'password': [1, 2, 3, 4], 'batch': 2023, 'course': 977}
{'password': [1, 2, 3, 4], 'batch': 2023, 'learning': 977}

In [ ]:
#set->unorder, unindexed collection of datatypes, {}, doen't contain a duplicate value

myset={"data","task",12,23.6,False,"hello"}
print(myset) #randomvalue

#add or append
myset.add("true")
print(myset)


set1={1,23,4,5,56,9}
set2={2,3,0,8,3,4}
set3=set1.union(set2)
print(set3)
#unioun sign--> |
set4=set1|set2
print(set4)

#intersection
set4=myset.intersection(set1)
print(set4)

{False, 'hello', 12, 'task', 23.6, 'data'}
{False, 'hello', 12, 'true', 'task', 23.6, 'data'}
{0, 1, 2, 3, 4, 5, 8, 9, 23, 56}
{0, 1, 2, 3, 4, 5, 8, 9, 23, 56}
set()

In [ ]:
set1={1,2,3,4,5}
set2={1,57,5,6,7,7}
set3=set1&set2
print(set3)

set2.clear()
print(set2)

{1, 5}
set()

In [ ]:
#difference
set4=set1.difference(set2)
print(set4)

{1, 2, 3, 4, 5}

In [ ]:
dec={'we':12,'we1':12}
print(dec)

{'we': 12, 'we1': 12}

In [ ]:
''' Assignment 1
create atwo different examples for collective datatypes in python'''

class 4

In [ ]:
#Function -> a set of data will be executed when ever you call it

In [ ]:
def a():
  print("hello world")

a()

hello world

In [ ]:
def add(num1,num2): #num1 and num2 are parameters,  #add() is a function name
    print(num1+num2)
add(6,9)# 6,9 are arguments

15

In [3]:
def add():
  n1=int(input("enter num1: "))
  n2=int(input("enter num2: "))
  print(n1+n2)
add()

enter num1: 2
enter num2: 3
5

In [6]:
a=5
for i in range(0,a):
  print(i)

0
1
2
3
4

In [8]:
myList=["stack","A","for","sub","neg","Tag"]
print(myList)
for a in myList:
  print(a)

['stack', 'A', 'for', 'sub', 'neg', 'Tag']
stack
A
for
sub
neg
Tag

In [12]:
def x():
  for i in range(0,-5,-2):#(start,stop,)
    print(i)
x()

0
-2
-4

In [25]:
info = {'name':'saurabh','age':20,'country':'India'}
for i in info:
    print(i ,':' ,info[i])
for i in info:
    print(i)

name : saurabh
age : 20
country : India
name
age
country

In [16]:
if(2>6):
  print("2 is greater")
elif(2==6):
  print("2 is equals to 6")
else:
  print("6 is greater")

6 is greater

In [21]:
def quiz():
  n=input()
  if n==("a"or"b"or"c"):
    print("you have lost")
  elif n==9:
    print("its a number")
  else:
    print("none") 
quiz()

c
none